p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Noto Serif', serif;
    font-size: 700;
}

h3 {
    font-family: 'Noto Serif', serif;
    font-size: 700;
}
/* .container-content{
    background-color: #FFF5A5;
} */
.container-history{
    text-align: center;
}
.container-history >h1{
    color: #C83D32;
}
.container-item{
    height: 600px;
    overflow-y: scroll;
}
.content-item{
    padding-bottom: 50px;
    background-color: rgb(253,250,227);
}
.battle-content{
    margin-top:100px;
}
.item-sidebar{
    list-style: none;
    text-align: left;
    cursor: pointer;
    background-color: rgb(253,250,227);
}
.sidebar-header{
    text-align: left;
    font-size: 25px;
    margin-left: 10px;
}
.activeItem {
    transform: translateX(5px);
    background-color: #DDDDDD;
}
.item-img:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.active-sidebar{
    transform: translateX(5px);
}
.none-active-sidebar{
    transform: translateX(-5px);
}

@keyframes show-list-item{
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes show-item{
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes show-col-content{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes show-col-sidebar{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.col-content{
    animation: show-col-content ease-in-out 0.8s;
}
.col-sidebar{
    animation: show-col-sidebar ease-in-out 0.8s;
}
.list-age{
    padding: 0 15px;
    margin-top: 50px;
    animation: show-list-item ease-in-out 0.8s;
}
.list-item{
    padding: 0 15px;
    margin-top: 50px;
}
.item-name{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.item{
    box-shadow: 0 0 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-sidebar{
    height: fit-content;
}
.btn-detail{
    width: 50%;
}
.link-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.content-item-header{
    padding-left: 0;
}
.content{
    margin-top: 20px;
}
.link-detail{
    text-decoration: none;
    color: black;
}
.item{
    border: none;
}
@media (max-width : 575px){
    .list-sidebar{
        display: none;
    }
}

@media (max-width : 912px) and (min-width : 820px){
    .list-item{
        width: 50%;
    }
    .list-age{
        width: 50%;
    }
}
.img-banner{
    text-align: center;
    width: 100%;
}
.img-banner img{
    width: 50%;
    border-radius: 10px;
}