.footer_container {
    background-color: #FDFAE3;
    padding: 20px 72px;
}

.footer_container h3{
    margin: 0px 0px;
}

.footer_container hr {
    width: 50px;
}


.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.icon {
    width: 30px;
    height: 30px;
}