.padding_navbar{
    padding : 10px 60px;
}
.navbar-header{
    background-color: #FDFAE3;
    box-shadow: 0 0 3px;
}
@media (max-width : 767px){
    .padding_navbar{
        padding :10px 0px;
    }
  
}
.header-link{
    color: rgb(177,59,51);
    text-decoration: none;
}